@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Times+New+Roman');
/*----------------------------------------------------------------
    Branding Colour
----------------------------------------------------------------*/

#banner h1, 
#banner h2,
#banner h3, 
#banner p,
#contact h3,
#contact h2,
#contact p,
.contact_detail, 
.contact_detail a, 
.contact_detail a:hover,
#services p,
#content h2, 
#content h3,
#content h4 {
    color: #fff;
}

#content h4 {
    color: #b32a31;
}

#header2b,
#header2a,
#header2a a {
    color: #004791;
}

body,
ul li {
    color: #fff;
}

#banner p {
    font-size: 19px;
}

#services h3 {
    color:#fed7d8;
    padding:5px;
}

ul li,
#services p {
    font-weight:100;
}

h2,
h3,
#header2b a,
body, 
.formbuilder-form .row label {
    font-weight:400;
}

strong {
    font-weight: 600;
}


.btn, 
footer,
.formbuilder-form input#submit-form,
.formbuilder-form input#submit-form:hover,
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover {
   text-transform: uppercase;
}

#header2b a, 
footer a:hover,
.contact_detail a,
.contact_detail a:hover,
btn, 
.btn:hover, 
.btn:focus, 
.formbuilder-form input#submit-form,
.formbuilder-form input#submit-form:hover, 
.formbuilder-form input#submit-form:focus, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover,
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus {
    text-decoration: none;
}
    
/*----------------------------------------------------------------
    Form
----------------------------------------------------------------*/

.form, 
#extraFormsContainer .modal-dialog{
    border-radius:0px;;
    background-color: rgb(252, 252, 252);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.formbuilder-form .row label {
    color:#284e1f;
}

.formbuilder-form .row input, 
.formbuilder-form .row select, 
.formbuilder-form .row textarea {
    color:#000;
    background-color:#fff;
    border:1px solid #e8e8e8;
}
/*----------------------------------------------------------------
    Buttons
----------------------------------------------------------------*/

.btn {
    color:#fff;
    background-color: #b42930;
    border-radius:20px;
}

.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
    color:#fff;
    background-color: #b42930;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

@media (min-width: 711px) {
    .btn:hover, 
    .btn:focus, 
    .btn:active, 
    .btn.active, 
    .open>.dropdown-toggle.btn {
        color: #fff;
        border:none;
        background-color: #333;
    }
} 

.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover{
    background-color: rgba(0, 0, 0,0.4);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

/*----------------------------------------------------------------
    Custom Styles
----------------------------------------------------------------*/

h2, 
h3,
h4,
h1, 
#header2a a,
.btn,
.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
.formbuilder-form .row label,
footer a,
p {
    font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------------------------
    Header
----------------------------------------------------------------*/

#header {
    padding:20px 0 20px 0;
    background-color: rgba(255, 255, 255);
}

#header P{
   margin: 0 0 0px;
}


#header2 {
    padding-bottom:5px;
    font-weight:100;
}

#header2b a {
    font-size: 23px;
}

#header2a:before {
    content:'\f098';
    padding-right:5px;
    font-size: 35px;
}

/*----------------------------------------------------------------
    Banner
----------------------------------------------------------------*/

#banner1 {
/*    margin:0;
    text-align:left;*/
}

.banner_cover {
    background-color: #000;
    opacity: 0.5;
}


/*----------------------------------------------------------------
    Services
----------------------------------------------------------------*/

#services {
    padding: 20px 0 0px 0;
}

#service1,
#service2,
#service3,
#service4 {
    padding-top:50px;
    padding-bottom:50px;
}

/*----------------------------------------------------------------
    Content
----------------------------------------------------------------*/

    blockquote {
        background-color: #fff;
        border-color:#b32a31;
    }
    
/*----------------------------------------------------------------
    Gallery
----------------------------------------------------------------*/

    #gallery {
        height: 300px;
    }

/*----------------------------------------------------------------
  Contact 
----------------------------------------------------------------*/

#contact {
    background-color: #004791;
}

.contact_address {
    margin-bottom: 10px;
}

/*----------------------------------------------------------------
    Hide Blocks
----------------------------------------------------------------*/

#header2a:before,
#contact2d, 
#contact2g,
#content2b,
#contact1b {
    display:none;
}

/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/
footer *, 
footer a , 
footer {
    color: #fff;
}
footer {
    background-color: #373737;
    padding: 10px 0 10px;
}

/*----------------------------------------------------------------
    Media Queries
----------------------------------------------------------------*/
@media (max-width: 991px) {
    #service1, #service2, #service3, #service4 {
        padding-bottom:0px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 0px)  {  
    #banner1, #banner p,.btn{
        text-align:center;
    }
    #banner h1 {
        font-size:45px;
        padding: 10px 10px 3px;
    }
    
    #header {
        padding-top: 25px;
    }
}
@media (max-width: 600px) {
    .btn{
        width:100%;
        word-wrap: break-word;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width: 0px) {
    .btn {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    #service3 {
        clear:left;
    }
}

/*- Animation & Extras-*/
#banner1 {
    animation:move 2s ease;
}

@-webkit-keyframes move {
    from {transform: scale(0.8);opacity:0;}
    to {transform: scale(1.0);opacity:1;}
}

.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open>.dropdown-toggle.btn,
#service1:hover,#service2:hover,#service3:hover,#service4:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
}
